@{
    ViewData["Title"] = "Help";
    Layout = "_Layout";
}

<h1>Häufig gestellte Fragen</h1>
<ul>
    <li>
        <strong>Wie melde ich mich krank?</strong>
    </li>
    <li>
        <strong>Wie beantrage ich Urlaub?</strong>
    </li>
    <li>
        <strong>Ich möchte ein Problem melden. An wen wende ich mich?</strong>
    </li>
</ul>

