@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

@* CompanyNews as Slides*@
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item c-item active">
            <img class="d-block w-100 c-img" src="https://upload.wikimedia.org/wikipedia/commons/1/18/Erwachsenen-Party_in_der_Hafenstube_des_SKZ_Telux_2019_%C2%A9_Torsten_P%C3%B6tzsch_20190420_221626kl.jpg" alt="First slide">
        </div>
        <div class="carousel-item c-item">
            <img class="d-block w-100 c-img" src="https://upload.wikimedia.org/wikipedia/commons/1/18/Erwachsenen-Party_in_der_Hafenstube_des_SKZ_Telux_2019_%C2%A9_Torsten_P%C3%B6tzsch_20190420_221626kl.jpg" alt="Second slide">
        </div>
        <div class="carousel-item c-item">
            <img class="d-block w-100 c-img" src="https://upload.wikimedia.org/wikipedia/commons/1/18/Erwachsenen-Party_in_der_Hafenstube_des_SKZ_Telux_2019_%C2%A9_Torsten_P%C3%B6tzsch_20190420_221626kl.jpg" alt="Third slide">
        </div>
    </div>
    <button class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

