@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen im Intranet</h1>
</div>
<div style="" class="container">
    <div class="row">
        <div class="col-9"><input id="input-search" class="form-control" placeholder="Suche nach Personen, Dokumenten, ..."/></div>
        <div class="col-3"><button id="btn-search" type="submit" class="btn btn-primary">Suchen</button></div>
    </div>
</div>
<div class="container">
    <div id="result-search" hidden>Hier sind die Ergebnisse!!</div>
</div>
<br />
<br />
<script src="~/js/bundle.js"></script>
