html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

.card {
     height: 400px;
 }

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show only 3 lines */
    -webkit-box-orient: vertical;
    max-height: 4.5rem; /* Adjust based on font size */
}

body {
    margin-bottom: 60px;
    background-color: lightgray
}

:root {
    --color-primary: #53D2DC;
    --color-secondary: #3196E2;
    --color-tertiary: #FF826C;
    --color-quarternary: #FFC05F;
}

.btn {
    background-color: var(--color-quarternary);
}

nav {
    background-color: #3196E2;
    flex-grow: 1; /* Makes nav expand to fill header */
    display: flex;
    justify-content: space-between;
    /*#bcdfe4;*/
}

.navbar {
    height: 80px;
}
.navbar a {
    font-size: 28px
}
.nav-link {
    color: #FFFFFF;
}

header {
    height: 100px
}

.nav-item.active {
    border-bottom: 2px solid whitesmoke;
}

.c-item {
    height: 300px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

li a {
    margin-left: 10px;
    margin-right: 10px;
}