@{
    ViewData["Title"] = "Projects";
    Layout = "_Layout";
}
<h1>Übersicht Projekte</h1>

<h2>Laufende Projekte</h2>
<ul>
    <li>
        <strong>Projekt 1</strong>
    </li>
    <li>
        <strong>Projekt 2</strong>
    </li>
    <li>
        <strong>Projekt 3</strong>
    </li>
</ul>

<h2>Geplante Projekte</h2>
<ul>
    <li>
        <strong>Projekt 1</strong>
    </li>
    <li>
        <strong>Projekt 2</strong>
    </li>
    <li>
        <strong>Projekt 3</strong>
    </li>
</ul>

<h2>Abgeschlossene Projekte</h2>
<ul>
    <li>
        <strong>Projekt 1</strong>
    </li>
    <li>
        <strong>Projekt 2</strong>
    </li>
    <li>
        <strong>Projekt 3</strong>
    </li>
</ul>
