@{
    ViewData["Title"] = "Projects";
    Layout = "_Layout";
}
<h1>Übersicht Projekte</h1>

<h2>Laufende Projekte</h2>

<div class="d-flex flex-wrap gap-3 align-items-stretch">
    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?q=80&w=1955&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top c-img" alt="Laptop">
        <div class="card-body">
            <h5 class="card-title">Intranet-Umstrukturierung</h5>
            <p class="card-text">
                Das Intranet wird umgebaut, sodass Mitarbeiter einfacher und schnelller an ihre Informationen kommen.
            </p>
        </div>
        <div class="card-footer d-flex justify-content-end mt-auto">
            <a href="#" class="btn btn-primary">Mehr dazu</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top c-img" alt="Büroumbau">
        <div class="card-body">
            <h5 class="card-title">Büroumbau</h5>
            <p class="card-text">Wir modernisieren unsere Büros! Von ergonimischen Stühlen bis hin zu höhenverstellbaren Tischen.</p>
        </div>
        <div class="card-footer d-flex justify-content-end mt-auto">
            <a href="#" class="btn btn-primary">Mehr dazu</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1512820790803-83ca734da794?q=80&w=2098&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top c-img" alt="Bücher">
        <div class="card-body">
            <h5 class="card-title">Bibliothek</h5>
            <p class="card-text">
                Damit Sie sich neben Schulungen und Onlinetraining auch selbstständig weiterbilden können, wollen wir eine Bibliothek im Haus anbieten.
            </p>
        </div>
        <div class="card-footer d-flex justify-content-end mt-auto">
            <a href="#" class="btn btn-primary">Mehr dazu</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1534177616072-ef7dc120449d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top c-img" alt="Grill">
        <div class="card-body">
            <h5 class="card-title">Brand Extension</h5>
            <p class="card-text">
                Nach erfolgreichen Jahren im Cross-Selling soll unsere Marke auf Grillprodukte ausgeweitet werden.
            </p>
        </div>
        <div class="card-footer d-flex justify-content-end mt-auto">
            <a href="#" class="btn btn-primary">Mehr dazu</a>
        </div>
    </div>

</div>
<br />
<br />
<h2>Geplante Projekte</h2>
<div class="d-flex flex-wrap gap-3 align-items-stretch">

    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top c-img" alt="Büroumbau">
        <div class="card-body">
            <h5 class="card-title">Büroumbau</h5>
            <p class="card-text">Wir modernisieren unsere Büros! Von ergonimischen Stühlen bis hin zu höhenverstellbaren Tischen.</p>
        </div>
        <div class="card-footer d-flex justify-content-end mt-auto">
            <a href="#" class="btn btn-primary">Mehr dazu</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1532635251-2e33dd77c6ae?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top c-img" alt="Bier">
        <div class="card-body">
            <h5 class="card-title">Cross-Selling Bier</h5>
            <p class="card-text">
                Bier soll zukünftig als neues Cross-Selling-Produkt in unser Sortiment aufgenommen werden. Lokale sowie internationale Partner werden gesucht.
            </p>
        </div>
        <div class="card-footer d-flex justify-content-end mt-auto">
            <a href="#" class="btn btn-primary">Mehr dazu</a>
        </div>
    </div>

</div>
<br />
<br />
<h2>Abgeschlossene Projekte</h2>
<div class="d-flex flex-wrap gap-3 align-items-stretch">

    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1726015000252-218b0a837ae0?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top c-img" alt="Sportteam">
        <div class="card-body">
            <h5 class="card-title">Brand Visibility</h5>
            <p class="card-text">Im Rahmen unserer Brand Visibility sponsorn wir einige Sport-Teams in den USA.</p>
        </div>
        <div class="card-footer d-flex justify-content-end mt-auto">
            <a href="#" class="btn btn-primary">Mehr dazu</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1601034913836-a1f43e143611?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top c-img" alt="App">
        <div class="card-body">
            <h5 class="card-title">Bestell-App</h5>
            <p class="card-text">
                Mit einer App wollen wir neue Zielgruppen ansprechen. Basis ist die Zielgruppenanalyse von Q2 2024.
            </p>
        </div>
        <div class="card-footer d-flex justify-content-end mt-auto">
            <a href="#" class="btn btn-primary">Mehr dazu</a>
        </div>
    </div>

</div>
